.Card {
  border: solid 1px #CCC;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  min-width: 200px;
  animation: pop-in 800ms ease-in;
}

.Columns {
  display: flex;
}

.Columns > * {
  flex: 1;
}

.ArticleHeader {
  font-weight: bold;
  min-height: 2em;
  display: flex;
  align-items: center;
}
