.MovieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.MovieList__description {
  flex: 1;
  height: 50%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 675px) {
  .MovieList__description {
    min-width: 175px;
    max-width: 175px;
  }
}

.MovieList__description__image {
  width: 100%;
  height: auto;
  animation: pop-in 1500ms ease-in;
}
