.App {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.App__side-panel {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.App__center-panel {
  flex: 3;
}
